body {
    padding: 20px;
    background: #f9f9f9;
}
.middle {
    max-width: 720px;
    margin: 50px auto;
    padding: 20px 20px 1px 20px;
    background: #aa000022;
}
.card {
    padding: 20px;
    margin-bottom: 20px;
    transition: 1.0s ease height;
}
.card h4 {
    font-family: 'Vidaloka', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.label {
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Merriweather', serif;
    color: mediumpurple;
}
.btn:focus {
    box-shadow: 0 0 0 #0000;
}
.no-border {
    border-width: 0px;
}